<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Stevens Lifting</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% include 'base/navbar.html' %}
        <div>
            <div>
                {% for announcement in announcements %}
                    <div>
                        <h3>{{announcement.title}}</h3>
                        <h5>{{announcement.body}}</h5>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </body>
</html>

