<nav id="navbar" class="navbar">
    <ul>
      <li>
        <a class="nav-link" href="/">
            Home
        </a>
      </li>
      {% if request.user.is_authenticated %}
      <li>
        <a class="nav-link" href="{% url 'workouts' %}">
            Your Workouts
        </a>
      </li>
      {% endif %}
      {% if request.user.is_authenticated %}
      <li>
        <a class="nav-link" href="{% url 'oneRepMaxes' %}">
          Your One Rep Maxes
        </a>
      </li>
      {% endif %}
      {% if request.user.is_authenticated %}
      <li>
        <a class="nav-link" href="{% url 'logout' %}">
            Logout
        </a>
        {% else %}
        <a class="nav-link" href="{% url 'login' %}">
            Login
        </a>
      </li>
      {% endif %}
      {% if request.user.is_authenticated and request.user.is_staff %}
      <li>
        <a class="nav-link" href="/admin">
            Administration
        </a>
      </li>
      {% endif %}
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav>
