{% include 'base/navbar.html' %}
<div>
    Details for workout {{workout.workout_name}} on {{workout.workout_date}}
    {% for exercise in exercises %}
    <div>
        <h3>
            {{exercise.exercise_name}}
        </h3>
        {% for set in exercise.sets %}
            <h4>Set Number: {{set.set_number}}</h4>
            <h4>Reps: {{set.num_repititions}}</h4>
            <h4>Weight: {{set.weight}}</h4>
            <h4>Notes: {{set.notes}}</h4>
        {% endfor %}
    </div>
    <hr>
    {% endfor %}
</div>